@import '../libs/_vars';
@import '../libs/_functions';
@import '../libs/_mixins';

.icon {
  @include icon;
  border-bottom: none;
  position: relative;

  > .label {
	display: none;
  }
}

@mixin color-icon($p: null) {
  .icon {
	color: _palette($p, fg-light);
  }
}