#one {
  @include apply-palette-to-section(dark, "true");

  .small-badge {
    width: 2em;
    height: auto;
    display: block;
    margin: 0 auto 1.5em;
  }

  .illustration {
    max-width: 55%;
    display: block;
    margin: 0 auto 1.5em;

    @include breakpoint(medium){
      max-width: 50%;
    }
  }
}

#two {
  @include apply-palette-to-section(base);
  background: url('../images/bg_two.jpg') scroll center center;
  background-size: cover;

  .box {
    background-color: _palette(base, bg);

    .row {
      > div {
        padding: 0.5em !important;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        img {
          max-width: 80%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

#three {
  @include apply-palette-to-section(accent, "true");

  img {
    max-width: 80vw;
  }
}

#four {
  h6 {
    text-align: center;
    font-size: 1.3em;
    color: #bababa;
    font-weight: _font(weight);
  }

  .logo-container {
    margin-bottom: 1em;
    text-align: center;

    * {
      text-align: center;
    }

    img {
      height: 6em;
      width: auto;
    }
  }

  .footer {
    list-style: none;
    margin: 1em 0 2em 0;
    padding: 2em 0 0 0;
    text-align: center;
    width: 100%;

    li {
      color: #6F6F6F;
      font-weight: _font(weight-bold);
      display: inline-block;
      line-height: 1;
      padding: 0;
      margin: 1em;
    }
  }
}

.scrolly-wrapper {
  bottom: 0;
  z-index: 10;
  position: absolute;
  width: 100%;

  @include breakpoint(small){
    display: none;
  }

  div {
    $circle-diameter: 32px;
    $img-width: $circle-diameter / 1.8;
    $img-height: $img-width * 15 / 24;

    display: inline-block;
    margin: 0 auto $circle-diameter;
    height: $circle-diameter;
    width: $circle-diameter;
    padding-top: ($circle-diameter - $img-height) / 2;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: $circle-diameter;

    img {
      display: block;
      margin: auto;
      width: $img-width;
      height: $img-height;
    }
  }
}