@import url(https://fonts.googleapis.com/css?family=Work+Sans:900);

#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  @include apply-palette-to-section(accent, "false");

  @include breakpoint(small){
    background: url('../images/bg-video-placeholder.jpg') scroll 58% center;
    background-size: cover;
    height: auto;
  }

  #bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/bg-video-placeholder.jpg') scroll 58% center;
    background-size: cover;

    @include breakpoint(small){
      display: none;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 1em 1.5em;
    text-align: center;
    position: relative;

    @include container-responsive-padding;

    .inner {
      height: 100%;
      @extend .intro-animation;

      .centered-content {
        $local-content-margin: 2em;
        padding-top: $header-height + 1em;
        padding-bottom: 2em;

        h1 {
          margin-bottom: 0.5em;
          line-height: 1.2em;

          @include breakpoint(small){
            font-size: 1.5em;
            margin-top: 1.5em;
            margin-bottom: 0.8em;
          }

          + p {
            font-size: 1.1em;
            margin-bottom: $local-content-margin * 0.6;

            @include breakpoint(small){
              font-size: 100%;
              margin-bottom: 1.2em;
            }
          }
        }

        h4 {
          color: #FEBE10;
          font-size: 1.4em;

          @include breakpoint(small){
            font-size: 1.2em;
            margin-bottom: 1.8em;
          }
        }

        #btn-gplay {
          height: 3em;
          width: auto;
        }
      }
    }
  }

  .more-wrapper {
    bottom: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    @extend .intro-animation;

    @include breakpoint(small){
      display: none;
    }

    #more-intro {
      display: inline-block;
      margin: 0 auto;

      p{
        font-size: 1em;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;

        &:after {
          margin: 8px auto 0;
          content: "";
          width: 19.2px;
          height: 12px;
          background: transparent url('../images/img_arrowdown.svg') no-repeat;
          display: block;
        }
      }
    }
  }
}

.intro-animation {
  @include vendor('transition', ('transform 0.75s ease', 'opacity 0.75s ease'));
  @include vendor('transform', 'translateY(0)');
  opacity: 1;
}

body.is-loading {
  .intro-animation {
    @include vendor('transform', 'translateY(4.5em)');
    opacity: 0;
  }
}