<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- ========================================================================== -->
	<!-- ============================ System Servlets ============================= -->
	<!-- ========================================================================== -->
	<!-- System Servlet -->
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>mx.krieger.labplc.mapaton.apis.DashboardAPI,mx.krieger.labplc.mapaton.apis.MapatonAPI</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<!-- ========================================================================== -->
	<!-- ============================ Objectify Filter ============================ -->
	<!-- ========================================================================== -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- ========================================================================== -->
	<!-- ============================== Welcome Files ============================= -->
	<!-- ========================================================================== -->

	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
</web-app>